<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#if site.homeUrl}}
  <a href="{{relativize page.url site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{#if (and page.editUrl)}}
  <div class="edit-this-page"><a href="{{page.editUrl}}">Edit this Page</a></div>
{{/if}}
</div>
